<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="../static/contact.css">

</head>
<body>

    <div class="container">

        <div class="title">
            <header>
                <h1>CONTACT DETAILS</h1>
            </header>
        </div>

        <br>

        <div class="back-page">
            <a href="{{ url_for ('home') }}" , methods = "GET">
               <input class="button" type="submit"  value="⬅To Home Page" name="" >
            </a>
        </div>

        <br>

        <div class="intro">
            <p>
                Hello We are final year IT Engineering students. We are Pursuing our B.E from Mumbai University. We are the developer of this project here are the contact details.
                Feel Free to Contact!😉
            </p>
        </div>

        <div class="link">

            <div class="github">

                <a href="https://github.com">Github</a>
            </div>
            <br>

            <div class="linkedin">
                <a href="https://www.linkedin.com/">Linkedin</a>
            </div>
            <br>

            <div class="skype">
                <a href="https://join.skype.com/">Skype</a>
            </div>
        </div>

        <div class="foot">
            <footer><marquee>Copyright © 2023-24 BEIT2</marquee></footer>
        </div>

    </div>

</body>
</html>