<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Developer</title>
    <link rel="stylesheet" href="../static/developer.css">
</head>
<body>

    <div class="container">

        <div class="title">
            <header>
                <h1>ABOUT DEVELOPER</h1>
            </header>
        </div>

        <br>

        <div class="back-page">
            <a href="{{ url_for ('home') }}" , methods = "GET">
                <input class="button" type="submit"  value="⬅To Home Page" name="" >
            </a>
        </div>

        <br>

        <div class="img">
            <img src="../static/images/ace.PNG">
        </div>

        <div class="info">
            <p>
                Hello We are final year IT Engineering students. We are Pursuing our B.E from Mumbai University.
                Currently We are studying Machine Learning , Web Development , etc.
                
            </p>
        </div>

        <div class="foot">
            <footer><marquee>Copyright © 2023-24 BEIT2</marquee></footer>
        </div>

    </div>
</body>
</html>